//======================
body {
	background-color: #333;
}
//......
.holder {
	border: 1px dashed cyan;
	
	font-size: 0;
	text-align: left;
	padding: 0;
	min-width: 500px;

	li {
		border: 2px red solid;
		display: inline-block;
		margin: 0 14px 0 0;
		width: auto;
	}
}
//......
//======================
@mixin vendorize($property, $value) 
{     
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value; 
}
//=========================== LUPA MIXIN
@mixin lupa_icon_mx (	$size_: 16px, 			//WIDTH/HEIGHT  CIRCULO	
						$circ_thick_:4px, 		//THICK DO CIRCULO EXTREMIDADE
						$altura_rect_: 4px,		//THICK DA EXTREMIDADE
						$size_rect_: 14px, 		//WIDTH DA EXTREMIDADE
												
						$color_rect_: yellow, 	
						$color_circ_: yellow,
						
						$border_radius_rect_: 40%,//rounded corners/sharp corners
						
						$rotation_: 40deg 		//POSIÇÃO DE INCLINAÇÃO D LUPA
	)
{
	$size: $size_; 							//16px; 			//width/height circ.
	$size_rect: $size_rect_;				//10px;		//width
	$altura_rect:$altura_rect_; 			//3px; 		//espessura da linha 
	$border_radius_rect: $border_radius_rect_;	//0;
	
	$color_rect: $color_rect_;				//blue;
	$color_circ: $color_circ_;				//red;
	
	$circ_thick: $circ_thick_;				//2px; 		//border no circulo, espessura da linha
	$rotation: $rotation_;					//40deg;
	//.....................
	.lupa_icon_circ {
		
		@include vendorize(box-sizing, border-box);	 /* content-box;  border-box; */
		border: $circ_thick $color_circ solid;
		height: $size;
		width: 	$size; 	
		
		border-radius: 100%;

		display:inline-block;
		position: relative;
		margin: 0;
		padding: 0;
	}
	//.....................
	.lupa_icon_rect {
		
		@include vendorize(box-sizing, border-box);	 /* content-box;  border-box; */
		
		$pos_x: 100%;           //SEMPRE 100%, ISTO É, NO EXTREMO HORIZ. OPOSTO DA DIV HOLDER
	    $pos_y: calc(50% - #{$altura_rect}/2 );
		$origin_x:  -($size - $circ_thick*2)/2;  //-50%;               //transform-origin  x  »»» COM ROTATION NO CENTRO DO CIRCULO
    	$origin_y: $altura_rect/2; 

		background-color: $color_rect;
		border-radius: $border_radius_rect;
		border: none;
		top: 	$pos_y;
		left: 	$pos_x;

		width: 	$size_rect;
		height: $altura_rect;

		@include vendorize(transform-origin, $origin_x  $origin_y);
		@include vendorize(transform, rotate($rotation));

		display:inline-block;
		position: absolute;
		margin: 0;
		padding: 0;
	}
}

//=========================== EXEMPLO COM MIXIN
#lupa_icon_mixin {
		@include lupa_icon_mx ();						
}
//......
#lupa_icon_mixin2 {
		@include lupa_icon_mx (	$size_: 26px, 			//WIDTH/HEIGHT  CIRCULO	
						$circ_thick_:6px, 		//THICK DO CIRCULO EXTREMIDADE
						$altura_rect_: 6px,		//THICK DA EXTREMIDADE
						$size_rect_: 24px, 		//WIDTH DA EXTREMIDADE
												
						$color_rect_: orange, 	
						$color_circ_: orange,
						
						$border_radius_rect_: 50%,//rounded corners/sharp corners
						
						$rotation_: 40deg 		//POSIÇÃO DE INCLINAÇÃO D LUPA
						);					
}
//......
#lupa_icon_mixin3 {
		@include lupa_icon_mx (	$size_: 66px, 		//WIDTH/HEIGHT  CIRCULO	
						$circ_thick_:16px, 		//THICK DO CIRCULO EXTREMIDADE
						$altura_rect_: 16px,		//THICK DA EXTREMIDADE
						$size_rect_: 64px, 		//WIDTH DA EXTREMIDADE
												
						$color_rect_: green, 	
						$color_circ_: green,
						
						$border_radius_rect_: 20%,//rounded corners/sharp corners
						
						$rotation_: 40deg 		//POSIÇÃO DE INCLINAÇÃO D LUPA
						);					
}